.container-fluid{
    margin: 0;
    padding: 0;
}
body, html{
    height: 100%;
    background-color: gray;
}
.form{
    background-color: #fff;
    width: 90%;
    margin:auto;
    border:2px solid slategray;
}
.form>form{
    padding:10px;
}
h1{
    background-color: slateblue;
    color:white;
    text-shadow: 0 2px 4px black;
    text-align: center;
    padding: 50px;
}
footer{
    background-color: black;
    color:white;
    margin:1%;
    border-radius:0.25rem;
}
footer>p{
    padding:25px;
    text-align: center;
}
button{
    margin-top: 1em;
}
#password, #passwordagain{
    width: 50%;
}
.bad{
    background-color: rgb(250, 120, 120);
}