body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dates{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.dates div{
    background-color: yellow;
    text-align: center;
    width: 50px;
    border-radius: 10px;
    padding:10px;
}
p{
    color:darkblue;
    font-weight: bold;
}
#F, #N{
    margin:15px;
}
#F>p, #N>p{
    display:inline;
    margin:5px; 
    padding:5px;
    border-radius: 50%;
    border: 1px solid black;
}
#F>p{
    background-color: pink;
}
#N>p{
    background-color: lightblue;
}