@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Josefin+Sans&display=swap');
body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Hubballi', cursive;
    font-family: 'Josefin Sans', sans-serif !important;
}
.gamebg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    opacity: 0%;
    z-index: -1;
    text-align: center;
    transition: opacity 0.5s;
}
table{
    margin:auto;
    background-color: lightblue;
    border:1px solid black;
    border-collapse: separate;
    border-spacing: 0;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 100%;
    text-align: center;
    width: 100%;
    height: 100%;
    color:white;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, opacity 0.5s;
}
td{
    width: 20px;
    height: 20px;
    padding: 0;
}
button{
    background-color: rgba(79, 99, 82, 0.5 );
    padding:5px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid white;
    border-radius: 5px;
    font-size:larger;
    transition: all 0.2s;
    font-family: 'Josefin Sans', sans-serif !important;
    color:white;
}
button#startbt{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
button:hover{
    box-shadow: 0 0 15px white;
}
button:active{
    padding:15px;
}
.selected{
    background-color: rgb(79, 99, 82);;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#field{
    background-color: lightblue;
}
#block{
    background-color: rgb(58, 34, 8);
}
#snekbody{
    background-color: green;
    border: 1px solid black;
}
#snekhead{
    background-color: lightgreen;
    border-radius: 5px;
    border: 1px solid black;
}
#appel{
    background-color: rgb(172, 24, 24);
    border-radius: 1px;
}
#golden-appel{
    background-color: gold;
}
#green-appel{
    background-color: green;
}